@media screen and (min-width: 1920px) {
    .side_bar {
        width: 15%;
    }

    section {
        width: 85%;
        float: right;
    }

    #service .service_box_item {
        width: 350px;
    }

    .side_bar_box {
        margin-top: 60px;
    }
    
}